<!DOCTYPE html>
<html lang="zh_CN" style="overflow: hidden;">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- Set render engine for 360 browser -->
<meta name="renderer" content="webkit">
<meta charset="utf-8">
<title>{:L('WEBSITE_TITLE')}</title>

<meta name="keywords" content="{:L('WEBSITE_KEYWORDS')}">
<meta name="description" content="{:L('WEBSITE_DESCRIPTION')}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="__IMG__/favicon.ico" type="image/x-icon" rel="shortcut icon">
<link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="__THEME__/simpleboot/simpleboot.css">
<link rel="stylesheet" href="__STATIC__/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="__CSS__/default.css">

<style>
/*-----------------导航hack--------------------*/
.nav-list>li.open{position: relative;}
.nav-list>li.open .back {display: none;}
.nav-list>li.open .normal {display: inline-block !important;}
.nav-list>li.open a {padding-left: 7px;}
.nav-list>li .submenu>li>a {background: #fff;}
.nav-list>li .submenu>li a>[class*="fa-"]:first-child{left:20px;}
.nav-list>li ul.submenu ul.submenu>li a>[class*="fa-"]:first-child{left:30px;}
/*----------------导航hack--------------------*/
</style>
<script>
    var GV = {
        DIMAUB: "",
        JS_ROOT: "__STATIC__/",//js版本号
        TOKEN : ''	//token ajax全局
    };
</script> 

</head>
<body style="min-width:900px;" screen_capture_injected="true">
    <div id="loading"><i class="loadingicon"></i></div>
    <div id="right_tools_wrapper">
        <span id="refresh_wrapper" title="{:L('LOADING')}" ><i class="fa fa-refresh right_tool_icon"></i></span>
    </div>
    
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a href="{:U('index/index')}" class="brand"> 
                    <small><img src="__IMG__/logo-18.png">  {:L('COMPANY_NAME')}</small>
                </a>
                
                <div class="pull-left nav_shortcuts" >		
                    <a class="btn btn-small btn-warning" href="__ROOT__/" title="{:L('HOME')}" target="_blank">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                
                <ul class="nav simplewind-nav pull-right">
                    <li class="light-blue">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" width="30" height="30" src="__IMG__/logo-18.png">
                            <span class="user-info">
                                欢迎, 管理员
                            </span>
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">
                            <li><a href="{:U('Login/out')}"><i class="fa fa-sign-out"></i> {:L('LOGOUT')}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>  
    </div>
    <div class="main-container container-fluid" >
        <div class="sidebar" id="sidebar">  
            <div id="nav_wraper">
                <ul class="nav nav-list">
                    <foreach name="menus" item="menu">
                        <li>
                            <eq name="menu.is_display" value="1">
                                <empty name="menu.child">
                                    <a href="javascript:openapp('{$menu.url}','{$menu.id}','{$menu.title}',true);">
                                        <i class="fa {$menu.icon|default='fa-desktop'}"></i>
                                        <span class="menu-text">{$menu.title}</span>
                                    </a>
                                <else />
                                    <a href="#" class="dropdown-toggle">
                                        <i class="fa {$menu.icon|default='fa-desktop'} normal"></i>
                                        <span class="menu-text normal">{$menu.title}</span>
                                        <b class="arrow fa fa-angle-right normal"></b>
                                        <i class="fa fa-reply back"></i>
                                        <span class="menu-text back">返回</span>
                                    </a>

                                    <ul  class="submenu">
                                        <foreach name="menu.child" item="submenu">
                                            <li>
                                                <eq name="submenu.is_display" value="1">
                                                    <empty name="submenu.child">
                                                        <a href="javascript:openapp('{$submenu.url}','{$submenu.id}','{$submenu.title}',true);">
                                                            <i class="fa fa-caret-right"></i>
                                                            <span class="menu-text">{$submenu.title}</span>
                                                        </a>
                                                    <else />
                                                        <a href="#" class="dropdown-toggle">
                                                            <i class="fa fa-caret-right"></i>
                                                            <span class="menu-text">{$submenu.title}</span>
                                                            <b class="arrow fa fa-angle-right"></b>
                                                        </a>

                                                        <ul  class="submenu">
                                                            <foreach name="submenu.child" item="item">
                                                                <li>
                                                                    <if condition="item.url && item.is_display">
                                                                        <a href="javascript:openapp('{$item.url}','{$item.id}','{$item.title}',true);">
                                                                            <i class="fa fa-angle-double-right"></i>
                                                                            <span class="menu-text">{$item.title}</span>
                                                                        </a>
                                                                    </if> 
                                                                </li>
                                                            </foreach>    
                                                        </ul>
                                                    </empty>    
                                                </eq>
                                            </li>    
                                        </foreach>
                                    </ul>
                                </empty>    
                            </eq>
                        </li>    
                    </foreach>
                </ul>
            </div>    
        </div>
        <div class="dislpayArrow"><a class="pngfix" href="javascript:void(0);" onClick="displaysidebar(this)"></a></div>
        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                    <a id="task-pre" class="task-changebt" href="javascript:void(0)">←</a>
                    <div id="task-content">
                        <ul class="macro-component-tab" id="task-content-inner">
                            <li class="macro-component-tabitem noclose" app-id="0" app-url="{:U('Main/index')}" app-name="首页">
                                <span class="macro-tabs-item-text">{:L('HOME')}</span>
                            </li>
                        </ul>
                        <div style="clear:both;"></div>
                    </div>
                    <a id="task-next" class="task-changebt" href="javascript:void(0)">→</a>
            </div>

            <div class="page-content" id="content">
                    <iframe src="{:U('Main/index')}" style="width:100%;height: 100%;" frameborder="0" id="appiframe-0" class="appiframe"></iframe>
            </div>
        </div>
    </div>
    <script src="__STATIC__/jquery.js"></script>
    <script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
    <script>
        $(".nav-list").on( "click",function(event) {
            var closest_a = $(event.target).closest("a");
            if (!closest_a || closest_a.length == 0) {
                    return
            }
            
            if (!closest_a.hasClass("dropdown-toggle")) {
                return;
            }
            
            var closest_a_next = closest_a.next().get(0);
            if (!$(closest_a_next).is(":visible")) {
                var closest_ul = $(closest_a_next.parentNode).closest("ul");
                
                closest_ul.find("> .open > .submenu").each(function() {
                    if (this != closest_a_next && !$(this.parentNode).hasClass("active")) {
                            $(this).slideUp(150).parent().removeClass("open")
                    }
                });
            }
            
            $(closest_a_next).slideToggle(150).parent().toggleClass("open");
        });    
    </script>
    <script src="__JS__/index.js"></script>
</body>
</html>