@CHARSET "UTF-8";

.input-order{
    width:30px;
}
.wrap {
    padding: 20px 20px 70px;
}
.table td {
    font-size:12px;
}
form .input-order{
    margin-bottom: 0px;
    padding:3px;
    width:40px;
}
.table-actions{
    margin-top: 5px; 
    margin-bottom: 5px;
    padding:0px;
}
.table-list{
    margin-bottom: 0px;
}

.form-required, .tips_error{
    color:red;
}

.permission-list {
    border: solid 1px #eee;
}

.permission-list dt {
    background-color: #efefef;
    padding: 5px 10px;
}

.permission-list dd {
    padding: 10px;
    padding-left: 30px;
}

.permission-list dd label {
    padding-right: 10px;
    display:inline-block;
}



