/**
 * 后台登录
 */
*, body { 
    font-family: "HelveticaNeue", 
    "Helvetica Neue",
    Helvetica, Arial,
    sans-serif; 
}

.login-bg {
	background-color: rgb(60,60,60);
	background-image: url(../img/loginbg.jpg);
        background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
        background-size: cover;
}

.login-form {
    background-color: rgba(13,13,13,0.25);
    border-radius: 8px;
    color: #fff;
    font-weight: 300;
    max-width: 450px;
    padding: 30px;
    margin: 100px auto 0 auto;
}
.login-form h1 { 
    color: #fff;
    font-weight: 300;
    font-size: 36px;
    line-height: normal;
    margin: 10px 0 40px 0;
    text-align: center;
}

.login-form .control-label {
    width: 100px;
}

.login-form .controls {
    margin-left: 120px;
    position: relative;
}

.login-form .controls .fa{
    color: gray;
    position: absolute;
    left: 10px;
    top: 10px;
}

.login-form input,textarea {
    cursor: pointer;
    border: none;
    padding-left: 30px;
}

.login-form .verify_img{
    display: inline-block;
    margin-left: 5px;
    height: 33px;
    cursor: pointer;
}

.login-form .btn{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.footer{
    position: fixed;
    bottom: 0px;
    height: 60px;
    width: 100%;
    line-height: 60px;
    color: grey;
    text-align: center;
}
