<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{$meta_title}</title>
        <!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- HTML5 shim for IE8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <![endif]-->
        
        <link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.min.css">
        <link href="__CSS__/admin.css" rel="stylesheet">
        <link href="__STATIC__/font-awesome/4.4.0/css/font-awesome.min.css"  rel="stylesheet" type="text/css">
        <link href="__CSS__/default.css" rel="stylesheet">
        
        <!--[if IE 7]>
                <link rel="stylesheet" href="__STATIC__/css/font-awesome-ie7.min.css">
        <![endif]-->
        
        <script>
            var GV = {
                DIMAUB: "",
                JS_ROOT: "__STATIC__/",//js版本号
                TOKEN : ''	//token ajax全局
            };
        </script>  
        <script src="__STATIC__/jquery.js"></script>	
        <script src="__STATIC__/wind.js"></script>	
        <script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>	
        <script src="__STATIC__/layer/layer.js"></script>	
    
