<include file="Public/header" />
</head>
<body>
    <div class="wrap js-check-wrap">
        <ul class="nav nav-tabs">
            <li class="{$tab_type=='needToDo'?'active':''}"><a href="{:U('CaseList/index',array('tab_type'=>'needToDo'))}">待办案件</a></li>
            <li class="{$tab_type=='done'?'active':''}"><a href="{:U('CaseList/index',array('tab_type'=>'done'))}">已办案件</a></li>
            <li class="{$tab_type=='end'?'active':''}"><a href="{:U('CaseList/index',array('tab_type'=>'end'))}">归档案件</a></li>
            <li class="{$tab_type=='all'?'active':''}"><a href="{:U('CaseList/index',array('tab_type'=>'all'))}">所有案件</a></li>
        </ul>
        <form class="well form-search" method="post" action="{:U('CaseList/index')}">
            <select class="select_2" name="group" style="width: 120px;">
                <option value='debtor'<if condition = "$_POST.group eq 'debtor'"> selected </if>>主贷人姓名</option>
                <option value='order_id'<if condition = "$_POST.group eq 'order_id'"> selected </if>>案件编号</option>
                <option value='bank_branch_name'<if condition = "$_POST.group eq 'bank_branch_name'"> selected </if>>贷款银行</option>
                <option value='broker_dept_name'<if condition = "$_POST.group eq 'broker_dept_name'"> selected </if>>中介公司</option>
                <option value='location'<if condition = "$_POST.group eq 'location'"> selected </if>>房屋地址</option>
            </select>
            <input type="text" name="keywords" style="width: 90px;" value="{$_POST.keywords}" placeholder="请输入关键字">
            &nbsp;&nbsp;
            <if condition="$tab_type eq 'end'">
                案例状态: <select name='case_status' style="width: 120px;">
                    <option value="0">请选择</option>
                    <option value='3' <if condition = "$_POST.case_status eq 3"> selected </if>>撤案</option>
                    <option value='4' <if condition = "$_POST.case_status eq 4"> selected </if>>完成</option>
                </select>
            </if>
            &nbsp;&nbsp;
            业务: <select name='case_type' style="width: 120px;">
                    <option value="0">请选择</option>
                    <volist name="caseType" id="case_type_name">
                        <option value='{$key}' <if condition = "$_POST.case_type eq $key"> selected </if>>{$case_type_name}</option>
                    </volist>
                </select>
            <if condition="$tab_action neq 'all'">
            &nbsp;&nbsp;
            节点:
                <select name='node_step'  class="select_2" style="width: 120px;">
                    <option value="0">请选择</option>
                    <volist name="confFlowNode" id="node_name">
                        <option value='{$key}' <if condition = "$_POST.node_step eq $key"> selected </if>>{$node_name}</option>
                    </volist>
                </select>
                &nbsp;&nbsp;
                <input class = "js-date" style = "width: 90px;" type="text" value= "{$_POST.fromdate}" id = "date_min"  name="fromdate">
                至
                <input class = "js-date" style = "width: 90px;" type="text" value= "{$_POST.enddate}" id = "date_max"  name="enddate">
                &nbsp;&nbsp;
                <input type = 'hidden' name = 'action_type' value = 'search'>
            </if>
            <button class="btn btn-primary">搜索</button>
            <a class="btn btn-danger" href="{:U('CaseList/index')}">清空</a>
        </form>
        <div class="table-actions">
            <if condition="$tab_type eq 'needToDo'">
                <a class="btn btn-primary btn-small js-ajax-dialog-btn"  href="{:U('CaseList/add')}" title="新增案件">新增案件</a>
                <a class="btn btn-danger btn-small"  href="#" id="submitFlow" title="流程办理">流程办理</a>
            </if>
        </div>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th width="20"></th>
                    <th>案件编号</th>
                    <th>主贷人</th>
                    <th>房屋坐落</th>
                    <th>业务类型</th>
                    <th>办理流程</th>
                    <th>当前节点</th>
                    <th>案例状态</th>
                    <th>借款类型</th>
                    <th>借款金额</th>
                    <th>中介公司</th>
                    <th>贷款银行</th>
                    <th>受理部门</th>
                    <th>业务员</th>
                    <th width="120">操作</th>
                </tr>
            </thead>
            <tbody>
                <if condition='!empty($caseList)'>
                    <foreach name="caseList" item="vo">
                        <tr>
                            <php>$case_data= array('case_id'=>$vo['id'], 'case_type'=>$vo['case_type_id'], 'case_type_id'=>$vo['type_id']);</php>
                            <php>$flow_url= $vo['wf_id']?U('Flow/handle',array('flow_id'=>$vo['flow_id'])):U('Flow/type',$case_data);</php>
                            <td><input type="radio" name="case" case_id="{$vo.id}" case_type="{$vo.case_type_id}" flow_id="{$vo.flow_id}" flow_url='{$flow_url}' /></td>
                            <td><a href="{:U('CasePerson/index',array('case_id'=>$vo['id']))}">{$vo.case_no}</a></td>
                            <td>{$vo.debtor}</td>
                            <td>{$vo.location}{:get_case_tag_text($vo['case_tag'])}</td>
                            <td>{$caseType[$vo['case_type_id']]}</td>
                            <td>{$confFlowType[$vo['wftype']]}</td>
                            <td>{confNodeList[$vo['wfnode']]}</td>
                            <td>{$confCaseStatus[$vo['status']]}</td>
                            <td>{$confLoanType[$vo['loan_type']]}</td>
                            <td>{:doubleval($vo['loan_amount'])}</td>
                            <td>{$vo.broker_dept_name}</td>
                            <td>{$vo.bank_branch_name}</td>
                            <td>{$deptList[$vo['accept_dept_id']]}</td>
                            <td>{$vo.accept_name}</td>
                            <td><a href="{:U('CaseList/edit',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" title="编辑案例">编辑</a></td>
                        </tr>
                    </foreach>
                <else/>
                    <tr>
                        <td colspan="15" style="text-align: center;">
                            未查询到符合条件的案件
                        </td>
                    </tr>
                </if>    
            </tbody>
        </table>
        {$_Page}
    </div>
<script src="__STATIC__/common.js"></script>

<script>
    $(function(){
        
        $("#submitFlow").bind('click', function(){
            
            var case_choice = $(":radio:checked");
            if (!case_choice.length) {
                layer.msg("请选择案例！", {icon: 2, time: 1000});
            }
            
            var flow_url = case_choice.attr('flow_url'),
                title = $(this).attr('title');
            
            layer.open({
                type: 2,
                area: ['800px', ($(window).height() - 50) + 'px'],
                fix: false, //不固定
                maxmin: true,
                shade:0.4,
                title: title ? title : false,
                content: flow_url
            });
        });
    });
</script>
</body>
</html>
