<include file="Public/header" />
</head>
<body>
    <div class="wrap js-check-wrap">
        <ul class="nav nav-tabs">
            <li class="{$tab_type=='needToDo'?'active':''}"><a href="{:U('CaseList/index',array('tab_type'=>'needToDo'))}">待办案件</a></li>
            <li class="{$tab_type=='done'?'active':''}"><a href="{:U('CaseList/index',array('tab_type'=>'done'))}">已办案件</a></li>
            <li class="{$tab_type=='end'?'active':''}"><a href="{:U('CaseList/index',array('tab_type'=>'end'))}">归档案件</a></li>
            <li class="{$tab_type=='all'?'active':''}"><a href="{:U('CaseList/index',array('tab_type'=>'all'))}">所有案件</a></li>
        </ul>
        <form class="well form-search" method="post" action="{:U('CaseList/index')}">
            <select class="select_2" name="group" style="width: 120px;">
                <option value='debtor'<if condition = "$_POST.group eq 'debtor'"> selected </if>>主贷人姓名</option>
                <option value='order_id'<if condition = "$_POST.group eq 'order_id'"> selected </if>>案件编号</option>
                <option value='bank_branch_name'<if condition = "$_POST.group eq 'bank_branch_name'"> selected </if>>贷款银行</option>
                <option value='broker_dept_name'<if condition = "$_POST.group eq 'broker_dept_name'"> selected </if>>中介公司</option>
                <option value='location'<if condition = "$_POST.group eq 'location'"> selected </if>>房屋地址</option>
            </select>
            <input type="text" name="keywords" style="width: 90px;" value="{$_POST.keywords}" placeholder="请输入关键字">
            &nbsp;&nbsp;
            业务: <select name='case_type' style="width: 120px;">
                    <option value="0">请选择</option>
                    <volist name="confBusinessType" id="case_type_name">
                        <option value='{$key}' <if condition = "$_POST.case_type eq $key"> selected </if>>{$case_type_name}</option>
                    </volist>
                </select>
            &nbsp;&nbsp;
            节点:
                <select name='node_step'  class="select_2" style="width: 120px;">
                    <option value="0">请选择</option>
                    <volist name="confFlowNode" id="node_name">
                        <option value='{$key}' <if condition = "$_POST.node_step eq $key"> selected </if>>{$node_name}</option>
                    </volist>
                </select>
                &nbsp;&nbsp;
                <select name = 'search_node_time_type' class="select_2" style="width: 120px;">
                    <option value='submit_time' <if condition = "$_POST.search_node_time_type eq 'submit_time'"> selected </if> >节点结束时间</option>
                    <option value='start_time' <if condition = "$_POST.search_node_time_type eq 'start_time'"> selected </if> >节点开始时间</option>
                </select>
                &nbsp;&nbsp;
                <input class = "js-date" style = "width: 90px;" type="text" value= "{$_POST.fromdate}" id = "date_min"  name="fromdate">
                至
                <input class = "js-date" style = "width: 90px;" type="text" value= "{$_POST.enddate}" id = "date_max"  name="enddate">
                &nbsp;&nbsp;
                <input type = 'hidden' name = 'action_type' value = 'search'>
            </select>
            <button class="btn btn-primary">搜索</button>
            <a class="btn btn-danger" href="{:U('CaseList/index')}">清空</a>
        </form>
        <div class="table-actions">
            <button class="btn btn-primary" type="submit" data-action="{:U('CaseList/caseAdd')}">新增案件</button>
        </div>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th width="20"></th>
                    <th>案件编号</th>
                    <th>主贷人</th>
                    <th>房屋坐落</th>
                    <th>业务类型</th>
                    <th>办理流程</th>
                    <th>当前节点</th>
                    <th>案例状态</th>
                    <th>借款类型</th>
                    <th>借款金额</th>
                    <th>中介公司</th>
                    <th>贷款银行</th>
                    <th>受理部门</th>
                    <th>业务员</th>
                    <th width="120">操作</th>
                </tr>
            </thead>
            <tbody>
                <foreach name="caseList" item="vo">
                <tr>
                </tr>
                </foreach>
            </tbody>
        </table>
        {$_Page}
    </div>
<script src="__STATIC__/common.js"></script>
</body>
</html>
