<include file="Public/header" />
</head>
<body>
    <div class="wrap js-check-wrap">
        <ul class="nav nav-tabs">
            <foreach name='tab_arr' key='k' item='vo'>
                <li class="<php>if($k == $tab) echo 'active';</php>"><a href="{:U($k,array('case_id'=>$case_id))}">{$vo}</a></li>
            </foreach>
            <li><a href="javascript:history.go(-1);" title="后退"><i class="fa fa-mail-reply right_tool_icon"></i></a></li>
        </ul>
         <div class="table-actions">
            <a class="btn btn-primary btn-small js-ajax-dialog-btn"  href="{:U('CasePerson/add', array('case_id'=>$case_id))}" title="新增交易人">新增交易人</a>
        </div>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th width="50">序号</th>
                    <th>姓名</th>
                    <th>权属类型</th>
                    <th>电话号码</th>
                    <th>工作单位</th>
                    <th>单位性质</th>
                    <th>单位电话</th>
                    <th>生日</th>
                    <th>性别</th>
                    <th>证件号码</th>
                    <th>是否主贷人</th>
                    <th>是否本地户口</th>
                    <th width="120">操作</th>
                </tr>
            </thead>
            <tbody>
                <if condition='$person_list'>
                    <foreach name="person_list" item="vo">
                        <tr>
                            <td>{$vo.id}</td>
                            <td>{$vo.name}</td>
                            <td>{$vo['right_type']==1?'买方':'卖方'}</td>
                            <td>{$vo.telno}</td>
                            <td>{$vo.company}</td>
                            <td>{$company_type[$vo['company_type']]}</td>
                            <td>{$vo.company_telno}</td>
                            <td>{$vo.birthday}</td>
                            <td>{$vo['sex']?'男':'女'}</td>
                            <td>{$vo.card_no}</td>
                            <td>{$vo['is_main_loan']?'是':'否'}</td>
                            <td>{$vo['is_local']?'是':'否'}</td>
                            <td>
                                    <a class="js-ajax-dialog-btn" href='{:U("CasePerson/edit",array("id"=>$vo["id"]))}' title="编辑交易人">编辑</a>
                                    <a class="js-ajax-delete" href='{:U("CasePerson/del",array("id"=>$vo["id"]))}'>删除</a>
                            </td>
                        </tr>
                    </foreach>
                <else />
                    <tr>
                        <td colspan='13' style='text-align: center;'>未添加交易人信息</td>
                    </tr>
                </if>
            </tbody>
        </table>
    </div>
<script src="__STATIC__/common.js"></script>
</body>
</html>
