<include file = "Public/header" />
</head>
<body>
    <div class="wrap js-check-wrap">
        <ul class="nav nav-tabs">
            <li class="active"><a href="{:U('Menu/index')}">菜单管理</a></li>
            <li><a href="{:U('Menu/add')}">菜单添加</a></li>
        </ul>
        
        <form method="post" class="js-ajax-form">
            <div class="table-actions">
                <button class="btn btn-primary btn-small js-ajax-submit" type="submit" data-action="{:U('Menu/sort')}">排序</button>   
            </div>
            <table class="table table-hover table-bordered table-list" id="menus-table">
                <thead>
                    <tr>
                        <th width="80">排序</th>
                        <th width="50">ID</th>
                        <th>名称</th>
                        <th>URL</th>
                        <th width="80">状态</th>
                        <th width="180">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {$categorys}
                </tbody>
                <tfoot>
                    <tr>
                        <th width="80">排序</th>
                        <th width="50">ID</th>
                        <th>名称</th>
                        <th>URL</th>
                        <th width="80">状态</th>
                        <th width="180">操作</th>
                    </tr>
                </tfoot>
            </table>    
        </form> 
    </div>    
<script src="__STATIC__/common.js"></script>
<script>
    ;(function(){
        Wind.css('treeTable');
        Wind.use('treeTable', function(e){  
            $("#menus-table").treeTable({
                indent : 20
            });    
        });
    })();
</script>
</body>
</html>
