<include file = "Public/header" />
</head>
<body>
    <div class="wrap js-check-wrap">
        <ul class="nav nav-tabs">
            <foreach name="organize_types" item="value">
                <php>$type_selected = ($type==$key) ? 'class="active"' : '';</php>
                <li {$type_selected}><a href="{:U('User/index',array('org_type'=>$key))}">{$value}</a></li>
            </foreach> 
            <li><a href="{:U('User/add',array('org_type'=>$type))}">用户添加</a></li>
        </ul>
        
        <form class="well form-search" method="post" action="{:U('User/index',array('org_type'=>$type))}">
            关键词：
            <input type="text" name="keywords" placeholder="帐号/姓名/手机号码" value="{$search.keywords}" />
            &nbsp;&nbsp;
            <input type="submit" class="btn btn-primary" value="搜索" />
            <a href="{:U('User/index',array('org_type'=>$type))}" class="btn btn-danger">清空</a>
        </form>
        
        <table class="table table-hover table-bordered table-list">
            <thead>
                <tr>
                    <th width="50">ID</th>
                    <th width="100">帐号</th>
                    <th width="100">真实姓名</th>
                    <th width="100">联系电话</th>
                    <th width="100">职位</th>
                    <th width="120">部门</th>
                    <th>公司</th>
                    <th width="60">状态</th>
                    <th width="120">创建时间</th>
                    <th width="150">操作</th>
                </tr>
            </thead>
            <tbody>
                <foreach name="user_lists" item="list">
                    <tr>
                        <td>{$list.id}</td>
                        <td>{$list.user_name}</td>
                        <td>{$list.true_name}</td>
                        <td>{$list.phone}</td>
                        <td>{$list.position_name}</td>
                        <td>{$list.dept_name}</td>
                        <td>{$list.organize_name}</td>
                        <td>
                            <php>$is_leave_text=($list['is_leave']==1)?'<span class="text-error">离职</span>':'<span class="text-warning">在职</span>';</php>
                            {$is_leave_text}    
                        </td>
                        <td>{$list['create_time']?($list['create_time']|date='Y-m-d H:i:s',###):''}</td>
                        <td>
                            <php>$edit_url=U("User/edit",array("id"=>$list['id'], 'org_type'=>$type));</php>
                            <a href="{$edit_url}" title="编辑">编辑</a>
                            | 
                            <php>$delete_url=U("User/del",array("id"=>$list['id']));</php>
                            <a href="{$delete_url}" class="js-ajax-delete" title="删除">删除</a>
                        </td>
                    </tr>
                </foreach>
            </tbody>
        </table> 
        
        {$_Page}
    </div>    
<script src="__STATIC__/common.js"></script>
</body>
</html>

