<include file="Public/header" />
</head>
<body>
    <div class="wrap">
        <form method="post" class="form-horizontal js-ajax-form" action="{:U('CaseFee/do_edit_payment')}">
            <fieldset>
                <div class="control-group">
                    <label class="control-label">支出金额</label>
                    <div class="controls">
                        <input type="text" name="fee" value="{$payment_info.fee}">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">支出类型</label>
                    <div class="controls">
                        <select name='payment_type'>
                            <foreach name='payment_type' item='vo' key='k'>
                                <option value='{$k}'<if condition="$k eq $payment_info['payment_type']">selected</if>>{$vo}</option>
                            </foreach>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">备注</label>
                    <div class="controls">
                        <textarea name="remark">{$payment_info.remark}</textarea>
                    </div>
                </div>
            </fieldset>
            <div class="form-actions">
                <input type="hidden" name="id" value="{$id}">
                <input type="hidden" name="dept_id" value="{:session('userinfo.dept_id')}">
                <input type="hidden" name="clerk_uid" value="{:session('userinfo.uid')}">
                <button type="submit" class="btn btn-primary js-ajax-submit">保存</button>
                <a class="btn" onclick='myclose()'>返回</a>
            </div>
        </form>
    </div>
<script src="__STATIC__/common.js"></script>
</body>
</html>
