<include file="Public/header" />
</head>
<body>
    <div class="wrap js-check-wrap">
        <ul class="nav nav-tabs">
            <foreach name='tab_arr' key='k' item='vo'>
                <li class="<php>if($k == $tab) echo 'active';</php>"><a href="{:U($k,array('case_id'=>$case_id))}">{$vo}</a></li>
            </foreach>
            <li><a href="javascript:history.go(-1);" title="后退"><i class="fa fa-mail-reply right_tool_icon"></i></a></li>
        </ul>
         <div class="table-actions row">
            <div class="span7">
                <a class="btn btn-primary btn-small js-ajax-dialog-btn"  href="{:U('CaseFee/add_fee',array('case_id'=>$case_id))}" title="添加收费项目">添加收费项目</a>
            </div>
            <div class="span7 ">
                <a class="btn btn-danger btn-small js-ajax-dialog-btn "  href="{:U('CaseFee/add_pay',array('case_id'=>$case_id))}" title="记收入">记收入</a>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span5">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr >
                            <th colspan="5" style="text-align: center;">
                                应收项目
                            </th>    
                        </tr>
                    </thead>
                    <tbody>
                         <tr>
                            <th width="50">序号</th>
                            <th>收费项名称</th>
                            <th>收费标准</th>
                            <th>实际收费标准</th>
                            <th width="120">操作</th>
                        </tr>
                        <if condition='$case_fee_list'>
                        <volist name="case_fee_list" id="vo"  key='k'>
                        <tr>
                            <td>{$k}</td>
                            <td>{$vo.fee_name}</td>
                            <td>{:doubleval($vo['fee'])}</td>
                            <td>{:doubleval($vo['actual_fee'])}</td>
                            <td>    
                                <a onclick="do_edit({$vo.id})">修改收费金额</a>&nbsp;&nbsp;|
                                <a class="js-ajax-delete" href='{:U("CaseFee/del",array("id"=>$vo["id"]))}'>删除</a>
                            </td>
                        </tr>
                        </volist>
                    <else/>
                        <tr>
                            <td colspan='5' style='text-align: center;'>未添加收费项目</td>
                        </tr>
                    </if>
                    </tbody>
                </table>
            </div>
            <div class="span7">
                <table class="table table-hover table-bordered">
                    <thead>
                       <tr>
                            <th colspan="8" style="text-align: center;">
                                实际收费
                            </th>    
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th width="50">序号</th>
                            <th>收费金额</th>
                            <th>收据编号</th>
                            <th>收费人</th>
                            <th>收费时间</th>
                            <th>是否确认</th>
                            <th>确认时间</th>
                            <th width="120">操作</th>
                        </tr>
                        <if condition='$documnet_list'>
                        <volist name="documnet_list" id="vo"  key='k'>
                        <tr>
                            <td><input type='checkbox' value='{$vo.id}' class='doc_list' name='doc_list'></td>
                            <td>{$k}</td>
                            <td>{$vo.file_name}</td>
                            <td>{$type_arr[$vo['type_id']]}</td>
                            <td>{$vo['getit']?'是':'否'}</td>
                            <td>{$vo.accept_name}</td>
                            <td><if condition="$vo['accept_time']">{$vo.accept_time|date="Y-m-d",###}</if></td>
                            <td>    
                                <a onclick="do_edit({$vo.id})">收件</a>
                                <a class="js-ajax-delete" href='{:U("CaseFee/del",array("id"=>$vo["id"]))}'>删除</a>
                            </td>
                        </tr>
                        </volist>
                    <else/>
                        <tr>
                            <td colspan='8' style='text-align: center;'>未添加收件资料</td>
                        </tr>
                    </if>
                    </tbody>
                </table>
                <div class="table-actions row" style="padding-left: 30px;">
                    <a class="btn btn-danger btn-small js-ajax-dialog-btn "  href="{:U('CaseFee/add_payment',array('case_id'=>$case_id))}" title="记支出">记支出</a>
                </div>
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th colspan="8" style="text-align: center;">
                                支出项目
                            </th>    
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th width="50">序号</th>
                            <th>支出款项</th>
                            <th>支出金额</th>
                            <th>支出人</th>
                            <th>支出时间</th>
                            <th>是否确认</th>
                            <th>确认时间</th>
                            <th width="120">操作</th>
                        </tr>
                        <if condition='$documnet_list'>
                        <volist name="documnet_list" id="vo"  key='k'>
                        <tr>
                            <td><input type='checkbox' value='{$vo.id}' class='doc_list' name='doc_list'></td>
                            <td>{$k}</td>
                            <td>{$vo.file_name}</td>
                            <td>{$type_arr[$vo['type_id']]}</td>
                            <td>{$vo['getit']?'是':'否'}</td>
                            <td>{$vo.accept_name}</td>
                            <td><if condition="$vo['accept_time']">{$vo.accept_time|date="Y-m-d",###}</if></td>
                            <td>    
                                <a onclick="do_edit({$vo.id})">收件</a>
                                <a class="js-ajax-delete" href='{:U("CaseFee/del",array("id"=>$vo["id"]))}'>删除</a>
                            </td>
                        </tr>
                        </volist>
                    <else/>
                        <tr>
                            <td colspan='8' style='text-align: center;'>未添加收件资料</td>
                        </tr>
                    </if>
                    </tbody>
                </table>
            </div>
        </div>
        <input type="hidden" value="{:U('CaseFee/do_edit')}" id='edit_url'>
    </div>
<script src="__STATIC__/common.js"></script>
<script type='text/javascript'>
    function edit()
    {
        var chk_value =''; 
        $('input[name="doc_list"]:checked').each(function(){ 
            chk_value = chk_value + $(this).val() + ',';
        });
        if (chk_value.length==0) {
            layer.msg('你还没有选择任何内容！');
        } else {
          do_edit(chk_value);
        }
    }
    
    function do_edit(ids)
    {
        var href = $('#edit_url').val()+'&ids='+ids;
        $.getJSON(href).done(function (data) {
            if (data.state === 'success') {
                layer.msg(data.info, {icon: 1, time: 1000}, function(index) {
                    if (data.referer) {
                        location.href = data.referer;
                    } else {
                        reloadPage(window);
                    }
                });    
            } else if (data.state === 'fail') {
                layer.msg(data.info, {icon: 2, time: 1000});
            }
        });
    }
 </script>   
</body>
</html>
